@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not. */
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #232629;
}

.main-wrapper {
  box-sizing: border-box;
  min-height: 95vh;
  position: relative;
}
